

  .modal-body-custom {
    display: flex;
    justify-content: center;
    background-color: black;
    background-size: cover;
    
  }
  
  .custom-button {
    background-color: red;
    border-color: red;
  }
  
  @media (max-width: 480px) {  
    .preview {
      text-align: center; 
    } 
    .custom-button {     
      width: 70%;       
      padding: 10px 0; 
      border-radius: 15px;    
    }
  
    .modal-body-custom {
      padding: 0;
    }
  
    .modal-dialog {
      margin: 0;
      width: 100%;
      max-width: 100%;
    }
  
    .modal-content {
      border-radius: 0;
    }
  
    .youtube-video {
      width: 100%;
      height: auto;
    }
  
    .modal-body-custom iframe {
      width: 100%;
      height: auto;
    }
  }