.movie-card{
    width: 220px;
    height: 330px;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.5s, z-index 0.5s;
}

.movie-card:hover{
    transform: scale(1.3) translateZ(20px);
    z-index:2;
}

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    align-items: flex-end;
    padding: 10px;
  }

.overlay:hover{
    opacity: 1;
}

.movie-info {
    color: white;
    width: 100%;
}

.movie-info h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;

}

.genres {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

.genre-badge{
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  max-width: 100px; 
  text-align: center;
}

.movie-detail {
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
}

.vote, .popularity, .age {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .vote i, .popularity i {
    font-size: 0.9em;
  }

  .vote{
    color: yellow;
  }

  .popularity{
    margin-left: 5px;
    color: rgb(133, 131, 131)
  }

 

